/* topBanner.module.scss */
.banner {
    width: 100%;
    box-sizing: border-box;
    /* Include padding in the element's width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--grey-color);

    h2 {
        text-align: center;
        width: 100%;
        margin: 0;
        color: var(--yellow-color);
        /* Ensure there's no default margin */
    }
}