/* mainNavigation.module.scss */
.mainNav {
    position: absolute;
    top: 30px;
    /* Adjust as needed */
    left: 50%;
    /* Move to the center horizontally */
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 16px 32px;
    margin-top: 10px;
    background-color: transparent;
    box-sizing: border-box;

    .logoImage {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .logo {
        font-size: 1.2rem;
        font-weight: bold;

        span {
            font-weight: 400;
        }
    }

    .burgerMenu {
        display: block;
        font-size: 2rem;
        cursor: pointer;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .navLinks {
        display: none;
        gap: 24px;
        margin-left: auto;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 900;

        @media (min-width: 768px) {
            display: flex;
        }

        /* Aligns the links to the right */
        a {
            text-decoration: none;
            font-size: 1rem;
            color: var(--grey-color);

            &:hover {
                text-decoration: underline;
            }
        }

        .firefox {
            width: 20px;
            height: 20px;
            background-color: var(--yellow-color);
            padding: 6px;
            border-radius: 3px;
            position: relative;
            top: -6px
        }
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .mobileNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        z-index: 1000;

        a {
            font-size: 1.5rem;
            margin: 16px 0;
        }

        .closeButton {
            position: absolute;
            top: 16px;
            right: 16px;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}